<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

      <%= link_to root_path do %>
        <%= image_tag "logo-KANOPE.png", class: "navbar-wagon-logo" %>
      <% end %>

    <div class="navbar-wagon-pusher"></div>


    <hr class="hidden-xs hidden-sm">
    <%= link_to 'Nos sites', products_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <hr>
    <%= link_to 'Notre carte',  products_path, class: 'navbar-wagon-item navbar-wagon-link'  %>
    <hr>
    <%= link_to 'Nous rejoindre',  products_path, class: 'navbar-wagon-item navbar-wagon-button btn'  %>
  </div>
</nav>
